{% extends "base.html" %}

{% block title %}
Show Joined Student
{% endblock title %}


{% block bodycontent %}

<h1 style="text-align: center; margin-top: 15px;">Student's Joined List</h1>
<hr>
<table class="table table-dark table-sm">
  <thead>
    <tr>
      <th scope="col">Student</th>
      <th scope="col">Student Mobile Number</th>
      <th scope="col">Joined Date</th>
      <th scope="col">Course</th>
      <th scope="col">Total Fee</th>
      <th scope="col">First Installment</th>
      <th scope="col">First Installment Date</th>
      <th scope="col">Last Installment</th>
      <th scope="col">Last Installment Date</th>
      <th scope="col">Duratioon</th>
      <th scope="col">Dues</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      {% for i in joined %}
      <form action="updatejoined" method="post">
        {% csrf_token %}
        <td>{{i.student.name}} <input type="hidden" name="id" value="{{i.id}}"> </td>
        <td>{{i.student.mob}}</td>
        <td>{{i.joined_dt}}</td>
        <td>{{i.student.course}}</td>
        <td>{{i.total}}</td>
        <td>{{i.first_ins}}</td>
        <td>{{i.first_dt}}</td>
        <td><input type="number" name="last_ins" value="{{i.last_ins}}" /></td>
        <td><input type="date" name="last_dt" value="{{i}}" /></td>
        <td>{{i.duration}}</td>
        <td><input type="number" name="dues" value="{{i.dues}}" /></td>
        <td><input type="submit" value="Update" /></td>
      </form>
    </tr>
  </tbody>
  {%endfor%}
</table>
{% endblock bodycontent %}